@import url(http://fonts.googleapis.com/css?family=Economica);
/* line 6, ../sass/main-v2-2.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/main-v2-2.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/* line 58, ../sass/main-v2-2.scss */
html, body {
  height: 100%; }

/* line 63, ../sass/main-v2-2.scss */
body {
  font-family: arial, sans-serif; }

/* line 73, ../sass/main-v2-2.scss */
h2 {
  color: #4d4d4d;
  font-family: "Economica", arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

/* line 86, ../sass/main-v2-2.scss */
h3 {
  color: #4d4d4d;
  font-family: "Economica", arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

/* line 99, ../sass/main-v2-2.scss */
h4 {
  color: #1b1b1b;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

/* line 110, ../sass/main-v2-2.scss */
h5 {
  color: #4d4d4d;
  font-family: "Economica", arial, sans-serif;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase; }

/* line 126, ../sass/main-v2-2.scss */
.sff-wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto 0 auto;
  	/*&:before, &:after{
  		@include pseudo;
  		top: 0;
  		width: 160px;
  		height: 100%;
  		background: {
  			image: url(../img/gutter-texture.jpg);
  			repeat: repeat-y;
  		}
  	}
  
  	&:before{
  		left: -160px;
  	}
  
  	&:after{
  		right: -160px;
  	}*/ }

/* line 151, ../sass/main-v2-2.scss */
.underline {
  border-bottom: 1px solid #1b1b1b; }

/* line 156, ../sass/main-v2-2.scss */
.expanded-intro {
  font-family: "Economica", arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase; }

/* line 170, ../sass/main-v2-2.scss */
.bold-cta {
  color: #4d4d4d;
  font-weight: 900;
  font-size: 18px;
  padding: 0 0 20px 0;
  text-align: center; }

/* line 180, ../sass/main-v2-2.scss */
.intro {
  position: relative;
  padding: 250px 50px 30px 50px;
  background-image: url(../img/generic-sprite.jpg);
  background-repeat: no-repeat;
  background-position: 0 -1265px;
  /*&:before{
  	@include pseudo;
  	top: 325px;
  	left: 0;
  	width: 100%;
  	height: 100px;
  	background: {
  		image: url(../img/generic-sprite.jpg);
  		repeat: no-repeat;
  		position: 0 -1125px;
  	}
  }*/ }
  /* line 202, ../sass/main-v2-2.scss */
  .intro:after {
    position: absolute;
    display: block;
    content: "";
    top: 170px;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -215px; }

/* line 216, ../sass/main-v2-2.scss */
.intro-container {
  width: 840px;
  margin: 0 50px 0 50px; }

/* line 221, ../sass/main-v2-2.scss */
.vert-divider {
  position: absolute;
  width: 1px !important;
  height: 100%;
  left: 50%;
  background-color: #1b1b1b; }

/* line 229, ../sass/main-v2-2.scss */
ul.description {
  position: relative;
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
  font-size: 14px; }
  /* line 236, ../sass/main-v2-2.scss */
  ul.description li {
    top: 0;
    width: 50%;
    float: left; }
    /* line 242, ../sass/main-v2-2.scss */
    ul.description li.left {
      padding: 0 20px 20px 0; }
    /* line 247, ../sass/main-v2-2.scss */
    ul.description li.right {
      padding: 0 0 20px 20px; }

/* line 253, ../sass/main-v2-2.scss */
ul.call-to-action {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
  color: #4d4d4d; }

/* line 261, ../sass/main-v2-2.scss */
.feature-image {
  background-image: url(../img/generic-sprite.jpg);
  background-repeat: no-repeat;
  background-position: 0 -560px;
  height: 200px;
  margin: 20px 50px 50px 50px;
  position: relative;
  width: 840px; }
  /* line 273, ../sass/main-v2-2.scss */
  .feature-image:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    left: 0;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -185px; }
  /* line 286, ../sass/main-v2-2.scss */
  .feature-image .clip-container {
    position: absolute;
    overflow: hidden;
    width: 840px;
    height: 200px;
    left: 0;
    top: 0; }
    /* line 295, ../sass/main-v2-2.scss */
    .feature-image .clip-container .logo-snippet {
      position: absolute;
      background-image: url(../img/generic-sprite.jpg);
      background-repeat: no-repeat; }
      /* line 302, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet0 {
        background-position: 0 -350px;
        left: -117px;
        top: 0;
        width: 117px;
        height: 200px; }
      /* line 310, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet1 {
        background-position: -117px -350px;
        left: 117px;
        top: -70px;
        width: 173px;
        height: 70px; }
      /* line 318, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet2 {
        background-position: -117px -420px;
        left: 117px;
        top: 200px;
        width: 173px;
        height: 130px; }
      /* line 326, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet3 {
        background-position: -290px -350px;
        left: 290px;
        top: -100px;
        width: 100px;
        height: 100px; }
      /* line 334, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet4 {
        background-position: -290px -450px;
        left: 290px;
        top: 200px;
        width: 200px;
        height: 100px; }
      /* line 342, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet5 {
        background-position: -390px -350px;
        left: 390px;
        top: -100px;
        width: 100px;
        height: 100px; }
      /* line 350, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet6 {
        background-position: -490px -350px;
        left: 490px;
        top: 200px;
        width: 200px;
        height: 200px; }
      /* line 358, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet7 {
        background-position: -690px -350px;
        left: 840px;
        top: 0;
        width: 150px;
        height: 150px; }
      /* line 366, ../sass/main-v2-2.scss */
      .feature-image .clip-container .logo-snippet.snippet8 {
        background-position: -690px -500px;
        left: 690px;
        top: 200px;
        width: 150px;
        height: 50px; }

/* line 377, ../sass/main-v2-2.scss */
ul.finalists-container {
  font-size: 14px;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0 50px 0 50px; }
  /* line 383, ../sass/main-v2-2.scss */
  ul.finalists-container li.nominee {
    display: inline-block;
    cursor: pointer;
    padding: 20px 20px 20px 100px;
    position: relative;
    width: 50%; }
    /* line 390, ../sass/main-v2-2.scss */
    ul.finalists-container li.nominee .image {
      z-index: 1;
      background-image: url(../img/finalists-sprite-small.jpg);
      background-repeat: no-repeat;
      height: 80px;
      left: 0;
      position: absolute;
      top: 20px;
      width: 80px;
      -webkit-box-shadow: 0 5px 10px 0 #cccccc;
      -moz-box-shadow: 0 5px 10px 0 #cccccc;
      box-shadow: 0 5px 10px 0 #cccccc; }
    /* line 404, ../sass/main-v2-2.scss */
    ul.finalists-container li.nominee .shadow {
      z-index: 0;
      position: absolute;
      left: 0;
      top: 100px;
      background-image: url(../img/generic-sprite.jpg);
      background-repeat: no-repeat;
      background-position: -54px -1090px;
      width: 80px;
      height: 20px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    /* line 419, ../sass/main-v2-2.scss */
    ul.finalists-container li.nominee .copy-block {
      height: 100px;
      overflow: hidden;
      position: relative;
      /*&:after{
      	@include pseudo;
      	bottom: 0;
      	height: $padB;
      	left: 0;
      	width: 100%;
      	@include background-image(linear-gradient(bottom, white, rgba(white, 0)));
      }*/ }
      /* line 424, ../sass/main-v2-2.scss */
      ul.finalists-container li.nominee .copy-block h3.restaurant {
        color: #9b7e54;
        font-size: 16px;
        margin: 0 0 10px 0; }
      /* line 430, ../sass/main-v2-2.scss */
      ul.finalists-container li.nominee .copy-block .gradient {
        position: absolute;
        bottom: 0;
        height: 50px;
        left: 0;
        width: 100%;
        background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
        background-image: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
        background-image: linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0)); }

/* line 451, ../sass/main-v2-2.scss */
.map-container {
  position: relative;
  height: 400px; }

/* line 456, ../sass/main-v2-2.scss */
.rnd-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url(../img/transparent-sprite.png);
  background-repeat: no-repeat;
  background-color: #4d4d4d;
  border: 1px solid #1b1b1b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  behavior: url(css3pie/PIE.htc); }

/* line 473, ../sass/main-v2-2.scss */
.region-map {
  z-index: 200;
  position: absolute;
  top: -15px;
  left: 80px;
  width: 270px;
  height: 390px; }
  /* line 484, ../sass/main-v2-2.scss */
  .region-map #paper {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 390px; }
  /* line 497, ../sass/main-v2-2.scss */
  .region-map ul.land-mass {
    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 390px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(../img/map-assets.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
    /* line 513, ../sass/main-v2-2.scss */
    .region-map ul.land-mass li {
      position: absolute;
      top: 0;
      left: 0;
      width: 270px;
      height: 390px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      background-image: url(../img/map-assets.png);
      background-repeat: no-repeat; }
      /* line 527, ../sass/main-v2-2.scss */
      .region-map ul.land-mass li[data-num="0"] {
        background-position: -270px 0; }
      /* line 531, ../sass/main-v2-2.scss */
      .region-map ul.land-mass li[data-num="1"] {
        background-position: -540px 0; }
      /* line 535, ../sass/main-v2-2.scss */
      .region-map ul.land-mass li[data-num="2"] {
        background-position: -810px 0; }
      /* line 539, ../sass/main-v2-2.scss */
      .region-map ul.land-mass li[data-num="3"] {
        background-position: -1080px 0; }
      /* line 543, ../sass/main-v2-2.scss */
      .region-map ul.land-mass li[data-num="4"] {
        background-position: -1350px 0; }

/* line 550, ../sass/main-v2-2.scss */
.region-list {
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 30%;
  width: 400px;
  background-color: white;
  padding: 0 10px 15px 10px; }
  /* line 560, ../sass/main-v2-2.scss */
  .region-list:before, .region-list:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat; }
  /* line 570, ../sass/main-v2-2.scss */
  .region-list:before {
    bottom: 100%;
    height: 30px;
    background-position: 0 0; }
  /* line 576, ../sass/main-v2-2.scss */
  .region-list:after {
    top: 100%;
    height: 20px;
    background-position: 0 -40px; }
  /* line 582, ../sass/main-v2-2.scss */
  .region-list li {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0 10px 5px 40px;
    color: #4d4d4d;
    font-family: "Economica", arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase; }
    /* line 597, ../sass/main-v2-2.scss */
    .region-list li:before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      margin: -8px 0 0 0;
      left: 10px;
      width: 9px;
      height: 9px;
      border: 1px solid gray;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

/* line 611, ../sass/main-v2-2.scss */
.white-out {
  z-index: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95); }

/* line 624, ../sass/main-v2-2.scss */
.modal {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 940px;
  min-height: 240px;
  background-color: rgba(255, 255, 255, 0.95);
  /*&:before{
  	@include pseudo;
  	width: 100%;
  	height: 20px;
  	top: 100%;
  	left: 0;
  	background: {
  		image: url(../img/transparent-sprite.png);
  		repeat: no-repeat;
  		position: 0 -185px;
  	}
  }*/ }
  /* line 640, ../sass/main-v2-2.scss */
  .modal .top-fade, .modal .bottom-fade {
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 150px; }
  /* line 648, ../sass/main-v2-2.scss */
  .modal .top-fade {
    bottom: 100%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.95)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0)); }
  /* line 653, ../sass/main-v2-2.scss */
  .modal .bottom-fade {
    top: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.95)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0)); }
  /* line 671, ../sass/main-v2-2.scss */
  .modal ul.buttons {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 680, ../sass/main-v2-2.scss */
    .modal ul.buttons .rnd-btn {
      float: right; }
    /* line 684, ../sass/main-v2-2.scss */
    .modal ul.buttons .left {
      display: none;
      background-position: 0 -125px;
      -webkit-box-shadow: -2px 5px 11px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: -2px 5px 11px 0 rgba(0, 0, 0, 0.15);
      box-shadow: -2px 5px 11px 0 rgba(0, 0, 0, 0.15); }
    /* line 690, ../sass/main-v2-2.scss */
    .modal ul.buttons .right {
      display: none;
      background-position: -50px -125px;
      margin: 0 20px 0 20px;
      -webkit-box-shadow: -3px 6px 13px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: -3px 6px 13px 0 rgba(0, 0, 0, 0.25);
      box-shadow: -3px 6px 13px 0 rgba(0, 0, 0, 0.25); }
    /* line 697, ../sass/main-v2-2.scss */
    .modal ul.buttons .close {
      background-position: -100px -125px;
      -webkit-box-shadow: -4px 7px 15px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -4px 7px 15px 0 rgba(0, 0, 0, 0.35);
      box-shadow: -4px 7px 15px 0 rgba(0, 0, 0, 0.35); }

/* line 704, ../sass/main-v2-2.scss */
.data {
  position: relative;
  margin: 98px 0 20px 290px;
  width: 650px;
  padding: 0 20px 0 20px;
  border-left: 1px solid #4d4d4d; }
  /* line 712, ../sass/main-v2-2.scss */
  .data .image {
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    /*&.finalist{
    	background: {
    		//color: red;
    		image: url(../img/generic-sprite.jpg);
    		position: 0 -270px;
    		repeat: no-repeat;
    	}
    	height: 70px;
    	left: -270px;
    	top: 300px;
    	width: 250px;
    }*/ }
    /* line 717, ../sass/main-v2-2.scss */
    .data .image.logo {
      background-image: url(../img/sketch-sprite-large.png);
      top: -80px;
      left: -270px;
      width: 250px;
      height: 250px; }
      /* line 724, ../sass/main-v2-2.scss */
      .data .image.logo.finalist {
        top: 330px; }
      /* line 728, ../sass/main-v2-2.scss */
      .data .image.logo:before {
        left: 30px;
        bottom: 50px; }
    /* line 734, ../sass/main-v2-2.scss */
    .data .image.dish, .data .image.chef {
      background-image: url(../img/finalists-sprite-large.jpg);
      left: -270px;
      width: 250px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      behavior: url(css3pie/PIE.htc); }
      /* line 741, ../sass/main-v2-2.scss */
      .data .image.dish:before, .data .image.chef:before {
        left: 30px;
        bottom: -30px; }
    /* line 747, ../sass/main-v2-2.scss */
    .data .image.dish {
      height: 250px;
      top: 550px; }
    /* line 752, ../sass/main-v2-2.scss */
    .data .image.chef {
      height: 350px;
      top: 10px; }
    /* line 771, ../sass/main-v2-2.scss */
    .data .image:before {
      position: absolute;
      display: block;
      content: "";
      width: 190px;
      height: 30px;
      background-image: url(../img/transparent-sprite.png);
      background-repeat: no-repeat;
      background-position: -630px 0; }
    /* line 783, ../sass/main-v2-2.scss */
    .data .image[data-sprite="cervena-venison"] {
      background-position: 0px center; }
      /* line 786, ../sass/main-v2-2.scss */
      .data .image[data-sprite="cervena-venison"]:before {
        bottom: 30px; }
    /* line 791, ../sass/main-v2-2.scss */
    .data .image[data-sprite="silere"] {
      background-position: -250px center; }
      /* line 794, ../sass/main-v2-2.scss */
      .data .image[data-sprite="silere"]:before {
        bottom: 30px; }
    /* line 799, ../sass/main-v2-2.scss */
    .data .image[data-sprite="angus"] {
      background-position: -500px center; }
      /* line 802, ../sass/main-v2-2.scss */
      .data .image[data-sprite="angus"]:before {
        bottom: 40px; }
    /* line 807, ../sass/main-v2-2.scss */
    .data .image[data-sprite="hereford"] {
      background-position: -750px center; }
      /* line 810, ../sass/main-v2-2.scss */
      .data .image[data-sprite="hereford"]:before {
        bottom: 40px; }
    /* line 815, ../sass/main-v2-2.scss */
    .data .image[data-sprite="reserve"] {
      background-position: -1000px center; }
    /* line 819, ../sass/main-v2-2.scss */
    .data .image[data-sprite="sff-beef"] {
      background-position: -1250px center; }
    /* line 823, ../sass/main-v2-2.scss */
    .data .image[data-sprite="sff-venison"] {
      background-position: -1500px center; }
    /* line 827, ../sass/main-v2-2.scss */
    .data .image[data-sprite="sff-lamb"] {
      background-position: -1750px center; }
  /* line 832, ../sass/main-v2-2.scss */
  .data .finalist-chef, .data .finalist-dish {
    color: #9b7e54; }
  /* line 836, ../sass/main-v2-2.scss */
  .data .finalist-restaruent {
    color: #4d4d4d;
    padding: 0 0 10px 0; }
    /* line 840, ../sass/main-v2-2.scss */
    .data .finalist-restaruent .website {
      color: #cccccc;
      text-decoration: none; }
      /* line 844, ../sass/main-v2-2.scss */
      .data .finalist-restaruent .website:hover {
        color: #9b7e54; }
  /* line 850, ../sass/main-v2-2.scss */
  .data h3 {
    padding: 20px 0 0 0;
    color: #9b7e54; }
  /* line 855, ../sass/main-v2-2.scss */
  .data .finalist-bio {
    color: #4d4d4d; }
  /* line 863, ../sass/main-v2-2.scss */
  .data .course, .data .title {
    color: #cccccc; }
  /* line 867, ../sass/main-v2-2.scss */
  .data .bullet {
    position: relative;
    padding: 0 0 0 20px; }
    /* line 871, ../sass/main-v2-2.scss */
    .data .bullet:before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 3px;
      width: 9px;
      height: 9px;
      border: 1px solid gray;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  /* line 882, ../sass/main-v2-2.scss */
  .data ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 887, ../sass/main-v2-2.scss */
    .data ul .name {
      padding: 0 0 10px 20px;
      font-weight: 900;
      font-size: 16px; }
    /* line 896, ../sass/main-v2-2.scss */
    .data ul .break {
      padding: 0 0 10px 0; }
    /* line 900, ../sass/main-v2-2.scss */
    .data ul .extra-address {
      padding: 0 0 10px 20px; }

/* line 908, ../sass/main-v2-2.scss */
.slider-container {
  position: absolute;
  background-color: gray;
  top: 30px;
  left: 0;
  width: 840px;
  height: 300px;
  margin: 0 50px 0 50px;
  background-image: url(../img/generic-sprite.jpg);
  background-repeat: no-repeat;
  background-position: 0 -770px;
  /*.footer-shell{
  	z-index: 150;
  	position: absolute;
  	height: 45px;
  	width: 100%;
  	left: 0;
  	bottom: 0;
  	background: {
  		//image: url(../img/transparent-sprite.png);
  		position: 0 -70px;
  		repeat: no-repeat;
  	}
  }*/
  /*&:before{
  	z-index: 150;
  	@include pseudo;
  	width: $wth;
  	height: 20px;
  	left: 0;
  	bottom: 100%;
  	background: {
  		image: url(../img/generic-sprite.jpg);
  		position: 0 -1235px;
  		repeat: no-repeat;
  	}
  }*/
  /*.overlay{
  	z-index: 100;
  	position: absolute;
  	background-color: white;
  	width: $wth;
  	height: 400px;
  	left: 0;
  	top: 0;
  	@include opacity(0.75);
  }*/ }
  /* line 939, ../sass/main-v2-2.scss */
  .slider-container:after {
    z-index: 150;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    left: 0;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -185px; }

/*.slider-images{
	$wth: 900px;

	position: relative;
	//overflow: hidden;
	width: $wth * 5;
	height: 400px;
	background-color: gray;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: {
		image: url(../img/generic-sprite.jpg);
		position: 0 -180px;
		repeat: no-repeat;
	}

	li{
		position: absolute;
		display: inline-block;
		background: {
			image: url(../img/slider-img-sprite.jpg);
			repeat: no-repeat;
		}
		width: $wth;
		height: 400px;

		&[data-num="0"]{
			background-position: 0 0;
			left: 0;
		}

		&[data-num="1"]{
			background-position: $wth * -1 0;
			left: $wth;
		}

		&[data-num="2"]{
			background-position: $wth * -2 0;
			left: $wth;
		}

		&[data-num="3"]{
			background-position: $wth * -3 0;
			left: $wth;
		}

		&[data-num="4"]{
			background-position: $wth * -4 0;
			left: $wth;
		}

		&[data-num="5"]{
			background-position: 0 0; // this is a duplicate of li[data-num="0"] used for a seamless TweenMax loop
			left: $wth;
		}
	}

	.darken{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		@include opacity(0);
	}
}*/
/*.slider-controls{
	display: none;
	z-index: 500;
	position: absolute;
	width: 110px;
	height: 30px;
	background-color: white;
	border: 1px solid lighten($lytGray, 10%);
	list-style-type: none;
	padding: 5px;
	margin: 0 0 0 50%;
	left: -60px;
	bottom: 30px;
	overflow: hidden;
	@include border-radius(5px);
	@include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.15));
	behavior: url(css3pie/PIE.htc);

	.selector-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		background: {
			image: url(../img/transparent-sprite.png);
			repeat: no-repeat;
			position: 0 -305px;
		}
	}

	.selector-bullet{
		position: absolute;
		left: 5px;
		width: 20px;
		height: 100%;
		background-color: black;
	}

	li{
		display: inline-block;
		cursor: pointer;
		width: 9px;
		height: 9px;
		border: 1px solid $lytGray;
		margin: 5px;
		@include border-radius(50%);
		behavior: url(css3pie/PIE.htc);

		&[data-num="0"]{
			background-color: black;
		}
	}
}*/
/* line 1103, ../sass/main-v2-2.scss */
.chef-container {
  z-index: 300;
  position: relative;
  width: 940px;
  height: 300px; }
  /* line 1112, ../sass/main-v2-2.scss */
  .chef-container .scroll-container {
    overflow-x: scroll;
    overflow-y: hidden; }
  /* line 1117, ../sass/main-v2-2.scss */
  .chef-container ul {
    position: relative;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0 235px 0 235px;
    height: 300px;
    overflow: hidden; }
  /* line 1126, ../sass/main-v2-2.scss */
  .chef-container li {
    position: relative;
    cursor: pointer;
    float: left;
    width: 235px;
    height: 300px;
    margin: 0;
    padding: 20px 20px 0 20px;
    text-align: center;
    /*img{
    	position: relative;
    	width: 100px;
    	height: 100px;
    	border: 2px solid white;
    	@include border-radius(50%);
    	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.5));
    }*/
    /*.image{
    	position: relative;
    	left: 50px;
    	width: 100px;
    	height: 100px;
    	border: 2px solid white;
    	background: {
    		image: url(../img/sketch-sprite-small.png);
    		repeat: no-repeat;
    	}
    	@include border-radius(50%);
    	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.5));
    	behavior: url(css3pie/PIE.htc);
    }*/ }
    /* line 1137, ../sass/main-v2-2.scss */
    .chef-container li .gradient {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
      background-image: linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0)); }
    /* line 1145, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="cervena-venison"] .image {
      background-position: 0px center; }
    /* line 1149, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="silere"] .image {
      background-position: -195px center; }
    /* line 1153, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="angus"] .image {
      background-position: -390px center; }
    /* line 1157, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="hereford"] .image {
      background-position: -585px center; }
    /* line 1161, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="reserve"] .image {
      background-position: -780px center; }
    /* line 1165, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="sff-beef"] .image {
      background-position: -975px center; }
    /* line 1169, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="sff-venison"] .image {
      background-position: -1170px center; }
    /* line 1173, ../sass/main-v2-2.scss */
    .chef-container li[data-sprite="sff-lamb"] .image {
      background-position: -1365px center; }
    /* line 1201, ../sass/main-v2-2.scss */
    .chef-container li .image {
      position: relative;
      width: 100%;
      height: 100px;
      background-image: url(../img/sketch-sprite-small.png);
      background-repeat: no-repeat; }
    /* line 1212, ../sass/main-v2-2.scss */
    .chef-container li .shadow {
      z-index: 1;
      position: absolute;
      top: 105px;
      left: 50%;
      margin: 0 0 0 -70px;
      width: 140px;
      height: 30px;
      background-image: url(../img/transparent-sprite.png);
      background-repeat: no-repeat;
      background-position: -820px 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    /* line 1229, ../sass/main-v2-2.scss */
    .chef-container li h3 {
      padding: 10px 0 20px 0; }
    /* line 1233, ../sass/main-v2-2.scss */
    .chef-container li h4 {
      padding: 0 0 20px 0; }

/* line 1239, ../sass/main-v2-2.scss */
.scroll {
  z-index: 50;
  position: absolute;
  width: 50px;
  height: 100%; }
  /* line 1246, ../sass/main-v2-2.scss */
  .scroll .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  /* line 1254, ../sass/main-v2-2.scss */
  .scroll .rnd-btn {
    position: absolute;
    top: 50%;
    margin: -25px 0 0 0; }
  /* line 1260, ../sass/main-v2-2.scss */
  .scroll[data-dir="left"] {
    left: 0; }
    /* line 1263, ../sass/main-v2-2.scss */
    .scroll[data-dir="left"] .gradient {
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
      background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); }
    /* line 1267, ../sass/main-v2-2.scss */
    .scroll[data-dir="left"] .rnd-btn {
      left: 10px;
      background-position: 0 -125px;
      -webkit-box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.35); }
  /* line 1274, ../sass/main-v2-2.scss */
  .scroll[data-dir="right"] {
    right: 0; }
    /* line 1277, ../sass/main-v2-2.scss */
    .scroll[data-dir="right"] .gradient {
      background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
      background-image: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); }
    /* line 1281, ../sass/main-v2-2.scss */
    .scroll[data-dir="right"] .rnd-btn {
      right: 10px;
      background-position: -50px -125px;
      -webkit-box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.35); }

/* line 1291, ../sass/main-v2-2.scss */
footer {
  position: relative;
  margin: 50px 0 0 0;
  padding: 80px 50px 50px 50px;
  text-align: center;
  background-image: url(../img/transparent-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -215px; }
  /* line 1302, ../sass/main-v2-2.scss */
  footer ul {
    position: relative;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
    border-top: 1px solid #1b1b1b;
    font-size: 14px; }
    /* line 1310, ../sass/main-v2-2.scss */
    footer ul li {
      top: 0;
      width: 50%;
      float: left; }
      /* line 1316, ../sass/main-v2-2.scss */
      footer ul li.left {
        padding: 20px 20px 0 0;
        text-align: right; }
        /* line 1320, ../sass/main-v2-2.scss */
        footer ul li.left a {
          text-decoration: none;
          color: #1b1b1b; }
      /* line 1326, ../sass/main-v2-2.scss */
      footer ul li.right {
        padding: 20px 0 0 20px;
        text-align: left; }

/* line 1343, ../sass/main-v2-2.scss */
.no-borderradius .region-list li:before {
  background-image: url(../img/generic-sprite.jpg);
  background-position: -25px -1090px;
  background-repeat: no-repeat;
  border: none !important; }
/* line 1358, ../sass/main-v2-2.scss */
.no-borderradius .data .image:after {
  background-image: url(../img/generic-sprite.jpg);
  background-position: 0 -1090px;
  background-repeat: no-repeat;
  border: none !important; }
/* line 1370, ../sass/main-v2-2.scss */
.no-borderradius .data .bullet:before {
  background-image: url(../img/generic-sprite.jpg);
  background-position: -25px -1090px;
  background-repeat: no-repeat;
  border: none !important; }

/* line 1388, ../sass/main-v2-2.scss */
.lt-ie9 .slider-container:after {
  z-index: 100000;
  background-image: url(../img/ie8-slider-footer.png) !important;
  background-position: 0 0 !important; }
/* line 1403, ../sass/main-v2-2.scss */
.lt-ie9 .chef-container .scroll {
  pointer-events: auto !important; }
/* line 1409, ../sass/main-v2-2.scss */
.lt-ie9 .chef-container li .shadow {
  display: none; }
/* line 1415, ../sass/main-v2-2.scss */
.lt-ie9 .modal {
  background-image: url(../img/trans-pix-95per.png);
  background-repeat: repeat !important; }

/* line 1433, ../sass/main-v2-2.scss */
.no-cssgradients ul.finalists-container li.nominee .copy-block .gradient {
  background-image: url(../img/gradient-sprite.png) !important;
  background-position: -100px -250px !important;
  background-repeat: no-repeat !important; }
/* line 1449, ../sass/main-v2-2.scss */
.no-cssgradients .chef-container li .gradient {
  background-image: url(../img/gradient-sprite.png) !important;
  background-position: -100px 0 !important;
  background-repeat: no-repeat !important; }
/* line 1461, ../sass/main-v2-2.scss */
.no-cssgradients .scroll .gradient {
  background-image: url(../img/gradient-sprite.png) !important;
  background-repeat: no-repeat !important; }
/* line 1468, ../sass/main-v2-2.scss */
.no-cssgradients .scroll[data-dir="left"] .gradient {
  background-position: 0 0 !important; }
/* line 1472, ../sass/main-v2-2.scss */
.no-cssgradients .scroll[data-dir="right"] .gradient {
  background-position: -50px 0 !important; }
/* line 1479, ../sass/main-v2-2.scss */
.no-cssgradients .modal .top-fade, .no-cssgradients .modal .bottom-fade {
  background-image: url(../img/gradient-sprite.png) !important;
  background-repeat: no-repeat !important; }
/* line 1486, ../sass/main-v2-2.scss */
.no-cssgradients .modal .top-fade {
  background-position: 0 -300px !important; }
/* line 1490, ../sass/main-v2-2.scss */
.no-cssgradients .modal .bottom-fade {
  background-position: 0 -450px !important; }
