@import url(http://fonts.googleapis.com/css?family=Economica);
/* line 6, ../sass/main-v2-1.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, ../sass/main-v2-1.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/* line 58, ../sass/main-v2-1.scss */
html, body {
  height: 100%; }

/* line 63, ../sass/main-v2-1.scss */
body {
  font-family: arial, sans-serif; }

/* line 73, ../sass/main-v2-1.scss */
h2 {
  color: #4d4d4d;
  font-family: "Economica", arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

/* line 86, ../sass/main-v2-1.scss */
h3 {
  color: #4d4d4d;
  font-family: "Economica", arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

/* line 99, ../sass/main-v2-1.scss */
h4 {
  color: #1b1b1b;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

/* line 110, ../sass/main-v2-1.scss */
.sff-wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto 0 auto;
  	/*&:before, &:after{
  		@include pseudo;
  		top: 0;
  		width: 160px;
  		height: 100%;
  		background: {
  			image: url(../img/gutter-texture.jpg);
  			repeat: repeat-y;
  		}
  	}
  
  	&:before{
  		left: -160px;
  	}
  
  	&:after{
  		right: -160px;
  	}*/ }

/* line 135, ../sass/main-v2-1.scss */
.intro {
  position: relative;
  padding: 450px 50px 30px 50px;
  background-image: url(../img/generic-sprite.jpg);
  background-repeat: no-repeat;
  background-position: 0 -765px; }
  /* line 144, ../sass/main-v2-1.scss */
  .intro:before {
    position: absolute;
    display: block;
    content: "";
    top: 325px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../img/generic-sprite.jpg);
    background-repeat: no-repeat;
    background-position: 0 -625px; }
  /* line 157, ../sass/main-v2-1.scss */
  .intro:after {
    position: absolute;
    display: block;
    content: "";
    top: 170px;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -215px; }

/* line 171, ../sass/main-v2-1.scss */
.vert-divider {
  position: absolute;
  width: 1px !important;
  height: 100%;
  left: 50%;
  background-color: #1b1b1b; }

/* line 179, ../sass/main-v2-1.scss */
ul.description {
  position: relative;
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
  border-bottom: 1px solid #1b1b1b;
  font-size: 14px; }
  /* line 187, ../sass/main-v2-1.scss */
  ul.description li {
    top: 0;
    width: 50%;
    float: left; }
    /* line 193, ../sass/main-v2-1.scss */
    ul.description li.left {
      padding: 0 20px 20px 0; }
    /* line 198, ../sass/main-v2-1.scss */
    ul.description li.right {
      padding: 0 0 20px 20px; }

/* line 204, ../sass/main-v2-1.scss */
ul.call-to-action {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
  color: #4d4d4d; }
  /* line 211, ../sass/main-v2-1.scss */
  ul.call-to-action li.top {
    font-family: "Economica", arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase; }
  /* line 221, ../sass/main-v2-1.scss */
  ul.call-to-action li.bottom {
    font-weight: 900;
    font-size: 18px;
    padding: 20px 0 0 0; }

/* line 230, ../sass/main-v2-1.scss */
.map-container {
  position: relative;
  height: 400px; }

/* line 236, ../sass/main-v2-1.scss */
.rnd-btn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url(../img/transparent-sprite.png);
  background-repeat: no-repeat;
  background-color: #4d4d4d;
  border: 1px solid #1b1b1b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  behavior: url(css3pie/PIE.htc); }

/* line 253, ../sass/main-v2-1.scss */
.region-map {
  z-index: 200;
  position: absolute;
  top: -15px;
  left: 80px;
  width: 270px;
  height: 390px; }
  /* line 264, ../sass/main-v2-1.scss */
  .region-map #paper {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 390px; }
  /* line 277, ../sass/main-v2-1.scss */
  .region-map ul.land-mass {
    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 390px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(../img/map-assets.png);
    background-repeat: no-repeat;
    background-position: 0 0; }
    /* line 293, ../sass/main-v2-1.scss */
    .region-map ul.land-mass li {
      position: absolute;
      top: 0;
      left: 0;
      width: 270px;
      height: 390px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      background-image: url(../img/map-assets.png);
      background-repeat: no-repeat; }
      /* line 307, ../sass/main-v2-1.scss */
      .region-map ul.land-mass li[data-num="0"] {
        background-position: -270px 0; }
      /* line 311, ../sass/main-v2-1.scss */
      .region-map ul.land-mass li[data-num="1"] {
        background-position: -540px 0; }
      /* line 315, ../sass/main-v2-1.scss */
      .region-map ul.land-mass li[data-num="2"] {
        background-position: -810px 0; }
      /* line 319, ../sass/main-v2-1.scss */
      .region-map ul.land-mass li[data-num="3"] {
        background-position: -1080px 0; }
      /* line 323, ../sass/main-v2-1.scss */
      .region-map ul.land-mass li[data-num="4"] {
        background-position: -1350px 0; }

/* line 330, ../sass/main-v2-1.scss */
.region-list {
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 30%;
  width: 400px;
  background-color: white;
  padding: 0 10px 15px 10px; }
  /* line 340, ../sass/main-v2-1.scss */
  .region-list:before, .region-list:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    width: 100%;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat; }
  /* line 350, ../sass/main-v2-1.scss */
  .region-list:before {
    bottom: 100%;
    height: 30px;
    background-position: 0 0; }
  /* line 356, ../sass/main-v2-1.scss */
  .region-list:after {
    top: 100%;
    height: 20px;
    background-position: 0 -40px; }
  /* line 362, ../sass/main-v2-1.scss */
  .region-list li {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0 10px 5px 40px;
    color: #4d4d4d;
    font-family: "Economica", arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-transform: uppercase; }
    /* line 377, ../sass/main-v2-1.scss */
    .region-list li:before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      margin: -8px 0 0 0;
      left: 10px;
      width: 9px;
      height: 9px;
      border: 1px solid gray;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

/* line 392, ../sass/main-v2-1.scss */
.modal {
  z-index: 1000;
  display: none;
  position: absolute;
  width: 840px;
  min-height: 240px;
  margin: 50px 50px 0 50px;
  border: 1px solid #e6e6e6;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  behavior: url(css3pie/PIE.htc); }
  /* line 407, ../sass/main-v2-1.scss */
  .modal:before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    left: 0;
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -185px; }
  /* line 420, ../sass/main-v2-1.scss */
  .modal ul.buttons {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 429, ../sass/main-v2-1.scss */
    .modal ul.buttons .rnd-btn {
      float: right; }
    /* line 433, ../sass/main-v2-1.scss */
    .modal ul.buttons .left {
      display: none;
      background-position: 0 -125px;
      -webkit-box-shadow: -2px 5px 11px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: -2px 5px 11px 0 rgba(0, 0, 0, 0.15);
      box-shadow: -2px 5px 11px 0 rgba(0, 0, 0, 0.15); }
    /* line 439, ../sass/main-v2-1.scss */
    .modal ul.buttons .right {
      display: none;
      background-position: -50px -125px;
      margin: 0 20px 0 20px;
      -webkit-box-shadow: -3px 6px 13px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: -3px 6px 13px 0 rgba(0, 0, 0, 0.25);
      box-shadow: -3px 6px 13px 0 rgba(0, 0, 0, 0.25); }
    /* line 446, ../sass/main-v2-1.scss */
    .modal ul.buttons .close {
      background-position: -100px -125px;
      -webkit-box-shadow: -4px 7px 15px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -4px 7px 15px 0 rgba(0, 0, 0, 0.35);
      box-shadow: -4px 7px 15px 0 rgba(0, 0, 0, 0.35); }

/* line 456, ../sass/main-v2-1.scss */
.data {
  position: relative;
  margin: 98px 0 20px 290px;
  width: 520px;
  padding: 0 0 0 20px;
  border-left: 1px solid #4d4d4d; }
  /* line 463, ../sass/main-v2-1.scss */
  .data .image {
    z-index: -1;
    position: absolute;
    top: -98px;
    left: -290px;
    width: 290px;
    height: 300px;
    background-image: url(../img/sketch-sprite-large.png);
    background-repeat: no-repeat;
    		/*&:before{
    			@include pseudo;
    			top: 50%;
    			left: 100%;
    			width: $padS;
    			height: 1px;
    			background-color: $medGray;			
    		}
    
    		&:after{
    			@include pseudo;
    			top: 50%;
    			left: 100%;
    			margin: -10px 0 0 $padS;
    			width: $padS;
    			height: $padS;
    			border: 1px solid $medGray;
    			@include border-radius(50%);
    			// behavior: url(css3pie/PIE.htc); // canot
    		}*/ }
    /* line 478, ../sass/main-v2-1.scss */
    .data .image:before {
      position: absolute;
      display: block;
      content: "";
      width: 190px;
      height: 30px;
      left: 50px;
      bottom: 70px;
      background-image: url(../img/transparent-sprite.png);
      background-repeat: no-repeat;
      background-position: -630px 0; }
    /* line 492, ../sass/main-v2-1.scss */
    .data .image[data-sprite="cervena-venison"] {
      background-position: 0px center; }
      /* line 495, ../sass/main-v2-1.scss */
      .data .image[data-sprite="cervena-venison"]:before {
        bottom: 50px; }
    /* line 500, ../sass/main-v2-1.scss */
    .data .image[data-sprite="silere"] {
      background-position: -290px center; }
      /* line 503, ../sass/main-v2-1.scss */
      .data .image[data-sprite="silere"]:before {
        bottom: 50px; }
    /* line 508, ../sass/main-v2-1.scss */
    .data .image[data-sprite="angus"] {
      background-position: -580px center; }
      /* line 511, ../sass/main-v2-1.scss */
      .data .image[data-sprite="angus"]:before {
        bottom: 60px; }
    /* line 516, ../sass/main-v2-1.scss */
    .data .image[data-sprite="hereford"] {
      background-position: -870px center; }
      /* line 519, ../sass/main-v2-1.scss */
      .data .image[data-sprite="hereford"]:before {
        bottom: 60px; }
    /* line 524, ../sass/main-v2-1.scss */
    .data .image[data-sprite="reserve"] {
      background-position: -1160px center; }
    /* line 528, ../sass/main-v2-1.scss */
    .data .image[data-sprite="sff-beef"] {
      background-position: -1450px center; }
    /* line 532, ../sass/main-v2-1.scss */
    .data .image[data-sprite="sff-venison"] {
      background-position: -1740px center; }
    /* line 536, ../sass/main-v2-1.scss */
    .data .image[data-sprite="sff-lamb"] {
      background-position: -2030px center; }
  /* line 562, ../sass/main-v2-1.scss */
  .data h3 {
    color: #9b7e54; }
  /* line 566, ../sass/main-v2-1.scss */
  .data h3 {
    padding: 20px 0 10px 0; }
  /* line 570, ../sass/main-v2-1.scss */
  .data .course, .data .title {
    color: #cccccc; }
  /* line 574, ../sass/main-v2-1.scss */
  .data .bullet {
    position: relative;
    padding: 0 0 0 20px; }
    /* line 578, ../sass/main-v2-1.scss */
    .data .bullet:before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 3px;
      width: 9px;
      height: 9px;
      border: 1px solid gray;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  /* line 589, ../sass/main-v2-1.scss */
  .data ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 594, ../sass/main-v2-1.scss */
    .data ul .name {
      padding: 0 0 10px 20px;
      font-weight: 900;
      font-size: 16px; }
    /* line 603, ../sass/main-v2-1.scss */
    .data ul .break {
      padding: 0 0 10px 0; }
    /* line 607, ../sass/main-v2-1.scss */
    .data ul .extra-address {
      padding: 0 0 10px 20px; }

/* line 615, ../sass/main-v2-1.scss */
.slider-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 900px;
  height: 420px;
  margin: 0 20px 0 20px;
  /*.overlay{
  	z-index: 100;
  	position: absolute;
  	background-color: white;
  	width: $wth;
  	height: 400px;
  	left: 0;
  	top: 0;
  	@include opacity(0.75);
  }*/ }
  /* line 626, ../sass/main-v2-1.scss */
  .slider-container .footer-shell {
    z-index: 150;
    position: absolute;
    height: 45px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: url(../img/transparent-sprite.png);
    background-position: 0 -70px;
    background-repeat: no-repeat; }
  /* line 640, ../sass/main-v2-1.scss */
  .slider-container:before {
    z-index: 150;
    position: absolute;
    display: block;
    content: "";
    width: 900px;
    height: 20px;
    left: 0;
    top: 0;
    background-image: url(../img/generic-sprite.jpg);
    background-position: 0 -735px;
    background-repeat: no-repeat; }

/* line 667, ../sass/main-v2-1.scss */
.slider-images {
  position: relative;
  width: 4500px;
  height: 400px;
  background-color: gray;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: url(../img/generic-sprite.jpg);
  background-position: 0 -180px;
  background-repeat: no-repeat;
  	/*li{
  		position: absolute;
  		display: inline-block;
  		background: {
  			image: url(../img/slider-img-sprite.jpg);
  			repeat: no-repeat;
  		}
  		width: $wth;
  		height: 400px;
  
  		&[data-num="0"]{
  			background-position: 0 0;
  			left: 0;
  		}
  
  		&[data-num="1"]{
  			background-position: $wth * -1 0;
  			left: $wth;
  		}
  
  		&[data-num="2"]{
  			background-position: $wth * -2 0;
  			left: $wth;
  		}
  
  		&[data-num="3"]{
  			background-position: $wth * -3 0;
  			left: $wth;
  		}
  
  		&[data-num="4"]{
  			background-position: $wth * -4 0;
  			left: $wth;
  		}
  
  		&[data-num="5"]{
  			background-position: 0 0; // this is a duplicate of li[data-num="0"] used for a seamless TweenMax loop
  			left: $wth;
  		}
  	}
  
  	.darken{
  		position: absolute;
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		background-color: black;
  		@include opacity(0);
  	}*/ }

/*.slider-controls{
	display: none;
	z-index: 500;
	position: absolute;
	width: 110px;
	height: 30px;
	background-color: white;
	border: 1px solid lighten($lytGray, 10%);
	list-style-type: none;
	padding: 5px;
	margin: 0 0 0 50%;
	left: -60px;
	bottom: 30px;
	overflow: hidden;
	@include border-radius(5px);
	@include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.15));
	behavior: url(css3pie/PIE.htc);

	.selector-overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		background: {
			image: url(../img/transparent-sprite.png);
			repeat: no-repeat;
			position: 0 -305px;
		}
	}

	.selector-bullet{
		position: absolute;
		left: 5px;
		width: 20px;
		height: 100%;
		background-color: black;
	}

	li{
		display: inline-block;
		cursor: pointer;
		width: 9px;
		height: 9px;
		border: 1px solid $lytGray;
		margin: 5px;
		@include border-radius(50%);
		behavior: url(css3pie/PIE.htc);

		&[data-num="0"]{
			background-color: black;
		}
	}
}*/
/* line 791, ../sass/main-v2-1.scss */
.chef-container {
  z-index: 300;
  position: relative;
  width: 940px;
  height: 300px; }
  /* line 800, ../sass/main-v2-1.scss */
  .chef-container .scroll-container {
    overflow-x: scroll;
    overflow-y: hidden; }
  /* line 805, ../sass/main-v2-1.scss */
  .chef-container ul {
    position: relative;
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0 235px 0 235px;
    height: 300px;
    overflow: hidden; }
  /* line 814, ../sass/main-v2-1.scss */
  .chef-container li {
    position: relative;
    cursor: pointer;
    float: left;
    width: 235px;
    height: 300px;
    margin: 0;
    padding: 20px 20px 0 20px;
    text-align: center;
    /*img{
    	position: relative;
    	width: 100px;
    	height: 100px;
    	border: 2px solid white;
    	@include border-radius(50%);
    	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.5));
    }*/
    /*.image{
    	position: relative;
    	left: 50px;
    	width: 100px;
    	height: 100px;
    	border: 2px solid white;
    	background: {
    		image: url(../img/sketch-sprite-small.png);
    		repeat: no-repeat;
    	}
    	@include border-radius(50%);
    	@include box-shadow(0 5px 15px 0 rgba(0, 0, 0, 0.5));
    	behavior: url(css3pie/PIE.htc);
    }*/ }
    /* line 825, ../sass/main-v2-1.scss */
    .chef-container li .gradient {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0));
      background-image: linear-gradient(bottom, #ffffff, rgba(255, 255, 255, 0)); }
    /* line 833, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="cervena-venison"] .image {
      background-position: 0px center; }
    /* line 837, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="silere"] .image {
      background-position: -195px center; }
    /* line 841, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="angus"] .image {
      background-position: -390px center; }
    /* line 845, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="hereford"] .image {
      background-position: -585px center; }
    /* line 849, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="reserve"] .image {
      background-position: -780px center; }
    /* line 853, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="sff-beef"] .image {
      background-position: -975px center; }
    /* line 857, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="sff-venison"] .image {
      background-position: -1170px center; }
    /* line 861, ../sass/main-v2-1.scss */
    .chef-container li[data-sprite="sff-lamb"] .image {
      background-position: -1365px center; }
    /* line 889, ../sass/main-v2-1.scss */
    .chef-container li .image {
      position: relative;
      width: 100%;
      height: 100px;
      background-image: url(../img/sketch-sprite-small.png);
      background-repeat: no-repeat; }
    /* line 900, ../sass/main-v2-1.scss */
    .chef-container li .shadow {
      z-index: 1;
      position: absolute;
      top: 105px;
      left: 50%;
      margin: 0 0 0 -70px;
      width: 140px;
      height: 30px;
      background-image: url(../img/transparent-sprite.png);
      background-repeat: no-repeat;
      background-position: -820px 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    /* line 917, ../sass/main-v2-1.scss */
    .chef-container li h3 {
      padding: 10px 0 20px 0; }
    /* line 921, ../sass/main-v2-1.scss */
    .chef-container li h4 {
      padding: 0 0 20px 0; }

/* line 927, ../sass/main-v2-1.scss */
.scroll {
  z-index: 50;
  position: absolute;
  width: 50px;
  height: 100%; }
  /* line 934, ../sass/main-v2-1.scss */
  .scroll .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  /* line 942, ../sass/main-v2-1.scss */
  .scroll .rnd-btn {
    position: absolute;
    top: 50%;
    margin: -25px 0 0 0; }
  /* line 948, ../sass/main-v2-1.scss */
  .scroll[data-dir="left"] {
    left: 0; }
    /* line 951, ../sass/main-v2-1.scss */
    .scroll[data-dir="left"] .gradient {
      background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
      background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)); }
    /* line 955, ../sass/main-v2-1.scss */
    .scroll[data-dir="left"] .rnd-btn {
      left: 10px;
      background-position: 0 -125px;
      -webkit-box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.35); }
  /* line 962, ../sass/main-v2-1.scss */
  .scroll[data-dir="right"] {
    right: 0; }
    /* line 965, ../sass/main-v2-1.scss */
    .scroll[data-dir="right"] .gradient {
      background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
      background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
      background-image: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)); }
    /* line 969, ../sass/main-v2-1.scss */
    .scroll[data-dir="right"] .rnd-btn {
      right: 10px;
      background-position: -50px -125px;
      -webkit-box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.35);
      box-shadow: -7px 7px 15px 0 rgba(0, 0, 0, 0.35); }

/* line 979, ../sass/main-v2-1.scss */
footer {
  position: relative;
  margin: 50px 0 0 0;
  padding: 80px 50px 50px 50px;
  text-align: center;
  background-image: url(../img/transparent-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -215px; }
  /* line 990, ../sass/main-v2-1.scss */
  footer ul {
    position: relative;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
    border-top: 1px solid #1b1b1b;
    font-size: 14px; }
    /* line 998, ../sass/main-v2-1.scss */
    footer ul li {
      top: 0;
      width: 50%;
      float: left; }
      /* line 1004, ../sass/main-v2-1.scss */
      footer ul li.left {
        padding: 20px 20px 0 0;
        text-align: right; }
        /* line 1008, ../sass/main-v2-1.scss */
        footer ul li.left a {
          text-decoration: none;
          color: #1b1b1b; }
      /* line 1014, ../sass/main-v2-1.scss */
      footer ul li.right {
        padding: 20px 0 0 20px;
        text-align: left; }

/* line 1031, ../sass/main-v2-1.scss */
.no-borderradius .region-list li:before {
  background-image: url(../img/generic-sprite.jpg);
  background-position: -25px -590px;
  background-repeat: no-repeat;
  border: none !important; }
/* line 1046, ../sass/main-v2-1.scss */
.no-borderradius .data .image:after {
  background-image: url(../img/generic-sprite.jpg);
  background-position: 0 -590px;
  background-repeat: no-repeat;
  border: none !important; }
/* line 1058, ../sass/main-v2-1.scss */
.no-borderradius .data .bullet:before {
  background-image: url(../img/generic-sprite.jpg);
  background-position: -25px -590px;
  background-repeat: no-repeat;
  border: none !important; }

/* line 1076, ../sass/main-v2-1.scss */
.lt-ie9 .slider-container:after {
  z-index: 100000;
  background-image: url(../img/ie8-slider-footer.png) !important;
  background-position: 0 0 !important; }
/* line 1091, ../sass/main-v2-1.scss */
.lt-ie9 .chef-container .scroll {
  pointer-events: auto !important; }
/* line 1097, ../sass/main-v2-1.scss */
.lt-ie9 .chef-container li .shadow {
  display: none; }

/* line 1113, ../sass/main-v2-1.scss */
.no-cssgradients .chef-container li .gradient {
  background-image: url(../img/gradient-sprite.png) !important;
  background-position: -100px 0 !important;
  background-repeat: no-repeat; }
/* line 1125, ../sass/main-v2-1.scss */
.no-cssgradients .scroll .gradient {
  background-image: url(../img/gradient-sprite.png) !important;
  background-repeat: no-repeat !important; }
/* line 1132, ../sass/main-v2-1.scss */
.no-cssgradients .scroll[data-dir="left"] .gradient {
  background-position: 0 0 !important; }
/* line 1136, ../sass/main-v2-1.scss */
.no-cssgradients .scroll[data-dir="right"] .gradient {
  background-position: -50px 0 !important; }
